.parent{
    fill: rgb(121, 7, 7); 
    stroke: rgb(43, 73, 4);
    stroke-width: .5px;
    font: 14px sans-serif;
}
.node circle {
    fill: #4ceebd;
    stroke: steelblue;
    stroke-width: .5px;
    opacity: .95;
}
.text1 { 
    fill: rgb(121, 7, 7); 
    stroke: rgb(43, 73, 4);
    stroke-width: .4px;
    font: 14px sans-serif;
}
.link {
    fill: green;
    stroke: #F7882F;
    stroke-width: 6px;
    opacity: .6;
}
.text2{
    stroke: rgb(0, 0, 0);
    stroke-width: 0px;
    font: 11px sans-serif;
}